[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
markdown = "*"
requests = "*"
beem = "0.23.0"
html-sanitizer = "*"
pymdown-extensions = "*"
markupsafe = "*"
beem = "*"
django-redis = "*"

[requires]
python_version = "3.8"
