{% load static %}
{% load get_ticker %}
{% load usd_price %}
<html>

<head>
    <title>hiveview Frontend - {{ request.path }}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Electrolize&display=swap">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}" />
</head>

<body>
    <div class="container-flex content">
        <div class="row align-items-end page-header">
            <div class="col align-self-left">
                <h1><a href="/">HiveView</a></h2>
            </div>
            <div align="center" class="col align-self-center">
                <a href="/"><img src="{% static "img/bee.png" %}" alt="Beehive" width="120px"></a>
            </div>
            <div class="col align-self-right">
                <ul>
                    {% url 'home' as home %}
                    <li><a href="{{ home }}">{{ home }} |</a></li>
                    {% url 'trending' as trending %}
                    <li><a href="{{ trending }}">{{ trending }} |</a></li>
                    {% url 'hot' as hot %}
                    <li><a href="{{ hot }}">{{ hot }} |</a></li>
                    {% url 'latest' as latest %}
                    <li><a href="{{ latest }}">{{ latest }} |</a></li>
                    {% url 'market' as market %}
                    <li><a href="{{ market }}">{{ market }} |</a></li>
                </ul>
            </div>
        </div>
        <div class="row page-content">

            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
    <div class="row align-items-end page-footer">
        <div class="col">
            <a href="https://hive.io"><img src="{% static "img/powered-by-hive.png" %}" alt="powered-by-hive"
                    width="240px"></a>
            {% now "Y" as current_year %}
            <p><span class="copyleft">&copy;</span> Copyleft {{ current_year }}</p>
        </div>
    </div>
    </div>
</body>

</html>