{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
<div class="post">
    <div class="date">
        {{ post.author }}
        {% if post.created %}
            {{ post.created }} - {{post.pending_payout_value }} - {{post.active_votes|length }} Votes
        {% endif %}
    </div>
    <h2><a href="{% url 'post_detail' pk=post.permlink author=post.author %}">{{ post.title }}</a></h2>
    {{ post.body|truncatewords_html:20 |linebreaksbr }}
</div>
{% endfor %}
{% endblock %}