{% extends 'blog/base.html' %}
{% block content %}
{% with request.resolver_match.view_name as view_name %}
<h1>{{ view_name|capfirst }}</h1>
{% endwith %}
<div class="post">
    <table width="100%">
        <tr>
            <th>Post</th>
            <th>Author</th>
            <th>Date</th>
            <th>Value</th>
            <th>Votes</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td> <a href="{% url 'post_detail' permlink=post.permlink author=post.author %}">{{ post.title|truncatechars:80 }}</a> </td>
            <td> <a href="/@{{ post.author }}/">{{post.author}}</a> </td>
            <td> {{ post.created| date:"Y-m-d H:i" }} </td>
            <td align="right"> {{post.pending_payout_value }} </td>
            <td align="right"> {{post.active_votes|length }} Votes </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}