{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    <div class="date">
        {{ post.author }} {{ post.created }} - {{post.pending_payout_value }} - {{post.active_votes|length }} Votes
    </div>

    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' author=post.author permlink=post.permlink %}"><span
            class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    {{ post.body|safe }}
    <div class="tags">
        <h3>Tags:</h3>
        {% for tags in post.tags %}
        <li>{{tags}}</li>
        {% endfor %}
    </div>
    <hr />
    {% for reply in replies %}
    <strong>{{reply.author}}</strong> - {{reply.created}}
    {{reply.body|safe}}
    <hr />
    {% endfor %}
</div>
{% endblock %}