{% extends 'blog/base.html' %}

{% block content %}
<h1>{{ request.path }}</h1>
<div class="post">
    <div class="date">
        <a href="/@{{ post.author }}/">{{post.author}}</a> &mdash; {{ post.created }} &mdash; {{post.pending_payout_value }} &mdash; {{post.active_votes|length }} Votes
    </div>

    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' author=post.author permlink=post.permlink %}"><span
            class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    {{ post.body }}
    <div class="tags">
        <h3>Tags:</h3>
        {% for tags in post.tags %}
        {% url 'tag' tags as tag_link %}
        <a href="{{tag_link}}"><li>{{tags}}</li></a>
        {% endfor %}
    </div>
    <hr /> 
    {% for reply in replies %}
    <div class="date"><a href="/@{{ reply.author }}/">{{reply.author}}</a> &mdash; {{reply.created}} &mdash; Depth: {{reply.depth}}</div>
    {{reply.body}}
    <hr />
    {% endfor %}
</div>
{% endblock %}