.page-header {
    background-color: #212529;
    margin-top: 0;
    padding: 40px 40px 40px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f0f0f8;
    font-size: 2em;
    text-decoration: none;
    float: right;
}

.content {
    margin-left: 40px;
    border: 1px solid #212529;
}

.content a, .content a:visited{
    color: #E31337;
}
h1, h2, h3, h4 {
    font-family: 'Autour', cursive;
}

h1 {
    font-size:  2em;
}

h2 {
    font-size: 1.5em;
}

h3 { 
    font-size: 1em;
}

hr {
    border: 1px solid #212529;
}
.date {
    color: #e7e7f1;
    font-family: monospace;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #f0f0f8;
    float: right;
    font-size: 1em;
    margin-right: 20px;
}

.post {
    font-family: 'Archivo', sans-serif;
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #212529;
}

.tags li{
        background-color: #212529;
        color: #f0f0f8;
        display: inline;
        border-radius: 5px;
        padding: 5px;
      }
 