.page-header {
    background-color: #212529;
    margin-top: 0;
    padding: 40px 40px 40px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f0f0f8;
    font-size: 2em;
    text-decoration: none;
}

.page-header a, .page-header a:visited, .page-header a:active {
    color: #f0f0f8;
    font-size: 2em;
    text-decoration: none;
}

.page-header ul {
    text-align: right;
    float: right;
}

.page-header li a, .page-header li a:visited, li .page-header li a:active {
    color: #f0f0f8;
    font-size: 2em;
    text-decoration: none;
}

.page-header li {
    background-color: #212529;
    color: #f0f0f8;
    padding: 0 10px 0 0;
    display: inline;
}

.page-header img {
    float: left;
}

.page-footer {
    background-color: #212529;
    margin-top: 0;
    padding: 40px 40px 40px 40px;
}

.page-footer a, .page-footer a:visited, .page-footer a:active, .page-footer p {
    color: #f0f0f8;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

.content {
    margin-left: 40px;
    width: auto;
}

.content a, .content a:visited {
    color: #E31337;
}

h1, h2, h3, h4 {
    font-family: 'Autour', cursive;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

hr {
    border: 1px solid #212529;
}

.date {
    color: #212529;
    font-family: monospace;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #f0f0f8;
    float: right;
    font-size: 1em;
    margin-right: 20px;
}

.post {
    clear: both;
    font-family: 'Archivo', sans-serif;
    padding: 10px;
    margin-bottom: 40px;
    border: 3px solid #212529;
}

sub {
    font-size: small;
}

.post h1 a, .post h1 a:visited {
    color: #212529;
}

.follow {
    clear: both;
    font-family: 'Archivo', sans-serif;
    padding: 10px;
    margin-bottom: 40px;
    border: 3px solid #212529;
}

.follow ul {
    columns: 3;
}

.follow li {
    list-style-type: none;
    display: flex;
    padding-top: 10px;
}

.tags li {
    background-color: #212529;
    color: #e7e7f1;
    display: inline;
    border-radius: 5px;
    padding: 5px;
}