body {
    color: black;
    max-width: 100%;
    overflow-x: hidden;
}

b, strong {
    font-weight: bolder;
}

h1, h2, h3, h4 {
    font-family: 'Share Tech Mono', monospace;
}

hr {
    border: 1px solid black;
}

.red {
    color: red;
}

.page-header {
    font-family: "Share Tech Mono", monospace;
    background-color: black;
    padding: 40px 20px 40px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: white;
    text-decoration: none;
}

.page-header a, .page-header a:visited, .page-header a:active {
    color: white;
    text-decoration: none;
}

.page-header ul {
    text-align: right;
}

.page-header li, .page-header li a, .page-header li a:visited, li .page-header li a:active {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.page-content {
    padding: 10px;
}

.page-footer {
    background-color: black;
    padding: 40px 20px 40px 20px;
    vertical-align: bottom;
}

.page-footer a, .page-footer a:visited, .page-footer a:active, .page-footer p {
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
}

.page-footer img {
    float: none;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
    font-size: larger;
}

.content {
    width: auto;
}

.content a, .content a:visited {
    color: red;
}

.date, .date a {
    color: grey;
    font-size: smaller;
    text-decoration: underline;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: white;
    float: right;
}

.post {
    padding: 10px;
    margin-bottom: 40px;
    border: 3px solid black;
}

.post h1 a, .post h1 a:visited {
    color: black;
}

.follow {
    padding: 10px;
    margin-bottom: 40px;
    border: 3px solid black;
}

.follow ul {
    columns: 3;
}

.follow li {
    list-style-type: none;
    display: block;
    padding-top: 10px;
}

.account {
    padding: 10px;
    margin-bottom: 40px;
    border: 3px solid black;
}

.account ul {
    columns: 1;
}

.account li {
    list-style-type: none;
    display: block;
    padding-top: 10px;
}

.tags li {
    background-color: black;
    color: white;
    display: inline;
    border-radius: 5px;
    padding: 10px;
}

th {
    padding: 4px;
    margin: 0px;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

.input-group input {
    text-align: left !important;
}

.table-4px td {
    padding: 4px;
}

#buySell .input-group-append span {
    width: 100px;
    padding: 6px;
}

#buySell .input-group-prepend span {
    width: 90px;
    padding: 6px;
}